body,
html {
  width: 100%;
  height: 100%;
}

.svg_background {
  position: fixed;
  z-index: -1;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.ocean {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.ocean.v01 .wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
}

.ocean.v01 {
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: 0;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  bottom: -25px;
  width: 6400px;
  height: 60px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  bottom: -25px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
  left: -192px;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(5px);
  }
}