// $gradient-bg: linear-gradient( 94.3deg,  rgba(30,30,30,1) 10.9%, rgba(81,84,115,1) 87.1% );
// $sidebar-bg-color: $gradient-bg;
$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

// @import '../css/styles.scss';
html,
body,
#root,
.App {
  margin: 0;
  min-height: 100% !important;
  color: #353535;
  font-family: sans-serif;
  // background-color: rgba(128, 128, 128, 0.063);
  background-image: url(../images/bg-body.jpg);
  object-fit: cover !important;
  background-attachment: fixed;
  background-position: center left;
}

#root {
  height: 100vh;
  min-height: 100% !important;
}

// .css-dip3t8{
//   background-image: url(../images/background.png);
//   background-repeat: no-repeat;
// }

.css-dip3t8 {
  background-color: rgba(249, 249, 249, 0) !important;
}
.css-16jkw2k > .ps-menu-button:hover {
  background-color: #f3f3f33b !important;
}
// .css-16jkw2k >.ps-menu-button{
//   background-color: #0000000b !important;
// }

.css-1wvake5 {
  position: fixed !important;
  z-index: 7;
  color: white;
  border: 0px !important;
  height: 100vh;
  background-image: url(../images/bg-2.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: fixed !important ;
}

.css-1wvake5.ps-collapsed {
  height: 100vh;
  width: 80px;
  min-width: 80px;
  position: fixed;
  height: 100vh;
  z-index: 10;
  border: 0px;
}

.app {
  height: 100vh;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    header {
      margin-bottom: 16px;
      border-bottom: 1px solid #efefef;
    }

    footer {
      margin-top: auto;
      color: #888;
      text-align: center;
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  @media (max-width: 900px) {
    .btn-toggle {
      display: flex;
    }
    .welcome {
      color: white;
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}

// Bar
.bar-collapsed {
  max-width: 80px !important;
}

.bar-not-collapsed {
  position: fixed !important;
  max-width: 245px !important;
}
// TOPBAR CSS
.top-bar {
  min-height: 50px;
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 1em;
  padding-right: 2em;
  background-image: url(../images/bg-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top left;
  // background-color: #888888b5;
  margin-bottom: 2em;
}

.welcome {
  position: fixed;
  font-weight: 700;
  color: black;
  // background-color: #0000005e;
  top: 15px;
  right: 1em;
  z-index: 5;
}

.btn-toggle {
  // top: 15px;
  // left: 1em;
  // position: fixed;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  padding: 1px 4px;
}
// BODY
.container {
  margin-top: 4em;
}
.main {
  min-width: 100%;
}

// CARDS

.card-2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  border-radius: 10px;
}
.cards-container {
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10px;
}

.card-2 {
  max-width: 300px;
  min-width: 260px;
  height: 400px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 25px 0;
  width: 30%;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .card-2 {
    width: 45%;
  }
  
}
@media screen and (max-width: 500px) {
  .card-2 {
    width: 90%;
  }
}
.card-2 .elms-animation,
.card-2 .content {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.card-2 .elms-animation {
  z-index: 5;
}
.card-2 .elms-animation span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 0;
  width: 0;
  transition: all 0.5s ease-out;
}
.card-2 .elms-animation span.one {
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
}
.card-2 .elms-animation span.two {
  top: 0;
  right: 0;
  border-top-right-radius: 10px;
}
.card-2 .elms-animation span.three {
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 10px;
}
.card-2 .elms-animation span.four {
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 10px;
}

.card-2:hover .elms-animation span {
  width: 50%;
  height: 50%;
}

.card-2 img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 10px;
}

.card-2 .content {
  z-index: 6;
  visibility: hidden;
}
.card-2:hover .content {
  animation: show 0.3s 0.4s linear forwards;
}
.card-2 .content button {
  padding: 0.6rem 1.3rem;
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button.disabled,
.button:disabled,
fieldset:disabled .button {
  pointer-events: none;
  opacity: 0.65;
}

.card-2 .content button:hover {
  background: #fff;
  color: #333;
}

.carousel {
  background: #8080809c;
  border-radius: 15px;
}

.carrousel-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #141619;
  font-size: 15px;
}
.thumbs-wrapper {
  display: none;
}

@keyframes show {
  to {
    visibility: visible;
  }
}

// PRESENTATION
.bg-blue {
  background-color: rgb(176, 176, 216);
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
  text-size-adjust: auto;
}

.presentation-proyects {
  background-image: url(../images/bg-proyects.jpg);
  mix-blend-mode: multiply;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
  text-size-adjust: auto;
  color: white;
  padding: 20px;
  max-width: 500px;
}
.proyect-tabs {
  max-width: 300px;
  min-width: 260px;
  width: 30%;
}
@media screen and (max-width: 900px) {
  
  .welcome {
    color: white;
  }
}
@media screen and (min-width: 768px) {
  .presentation-proyects {
    clip-path: polygon(
      50% 0%,
      80% 10%,
      100% 35%,
      100% 70%,
      80% 90%,
      50% 100%,
      20% 90%,
      0% 70%,
      0% 35%,
      20% 10%
    );
    padding: 20px;
    max-width: 500px;
  }
}

.box-frame {
  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background-image: url("https://www.cssportal.com/css-clip-path-generator/pics/north.jpg");
}

.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.6s ease-out both;
  animation: slit-in-vertical 0.6s ease-out both;
}
@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 21px;
  grid-row-gap: 0px;
}

.grid-div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.grid-div4 {
  grid-area: 1 / 4 / 2 / 5;
}
